name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 20

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_LEMON_FIELD_09A815D03 }}
          action: upload
          app_location: "/"
          output_location: "dist"
